{% from "macros/buttons.html" import render_funcs with context %}

<div class="article-header-buttons">
  {%- for button in header_buttons -%}
    {% set button_type = button.get("type") %}
    {% set button_options = button.copy() %}
    {% set _ = button_options.pop("type") %}
    {{ render_funcs[button_type](**button_options) }}
  {%- endfor %}

  {% include "language-switcher.html" %}
  {% include "theme-switcher.html" %}
  {% include "search-button.html" %}
  {% include "toggle-secondary-sidebar.html" %}
</div>

